.section {
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0 0 5px #afafaf;
}

.section__header {
    font-size: 21px;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #ddd;
}

.section__container {
    padding: 20px;
}