.section {
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0 0 5px #afafaf;
}

.section__sectionHeader {
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.section__container {
    padding: 20px;
}

@media (max-width: 767px) {
    .section__container {
        padding: 15px;
    }
}

.section__header {
    font-size: 21px;
    margin: 0;
}

.section__buttons {
    border: none;
    background-color: transparent;
    color: teal;
    margin-left: 10px;
    transition: color 0.4s;
}

.section__buttons:hover {
    color: hsl(180, 100%, 35%);
}

.section__buttons:active {
    color: hsl(180, 100%, 40%);   
}

.section__buttons--hidden {
    visibility: hidden;
}

.section__buttons:disabled {
    color: #ddd;
}