.html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ddd;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    overflow-wrap: anywhere;
}